.clearfix:before {
  content: ' ';
  display: table;
  clear: both; }

.clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

.rbm-fieldset {
  border: 1px solid #ddd;
  padding: 0.5em; }

.rbm-col-1 {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  float: left; }
  @media only screen and (max-width: 500px) {
    .rbm-col-1 {
      width: 100%; } }

.rbm-col-2 {
  width: 50%;
  box-sizing: border-box;
  padding: 0.5em;
  float: left; }
  @media only screen and (max-width: 500px) {
    .rbm-col-2 {
      width: 100%; } }

.rbm-col-3 {
  width: 33.3333333333%;
  box-sizing: border-box;
  padding: 0.5em;
  float: left; }
  @media only screen and (max-width: 500px) {
    .rbm-col-3 {
      width: 100%; } }

.rbm-col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 0.5em;
  float: left; }
  @media only screen and (max-width: 500px) {
    .rbm-col-4 {
      width: 100%; } }

.rbm-col-5 {
  width: 20%;
  box-sizing: border-box;
  padding: 0.5em;
  float: left; }
  @media only screen and (max-width: 500px) {
    .rbm-col-5 {
      width: 100%; } }

.rbm-field-list .rbm-field-list-item {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: move; }

.rbm-field-list .rbm-field-list-item-handle {
  color: #bbb; }

.rbm-field-repeater-label {
  font-weight: bold; }

.rbm-field-repeater-list .rbm-sortable-placeholder {
  border: 3px dashed #ddd; }

.rbm-field-repeater-row {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ddd;
  background: #fff; }
  .rbm-field-repeater-row:before {
    content: ' ';
    display: table;
    clear: both; }
  .rbm-field-repeater-row:after {
    content: ' ';
    display: table;
    clear: both; }
  .rbm-field-repeater-row.dummy {
    display: none; }
  .rbm-field-repeater-row .rbm-field-repeater-header-interior {
    padding: 0 0.5em 0 0.5em; }
  .rbm-field-repeater-row span.collapse-icon {
    transition: all 300ms ease-in 0s; }
    .rbm-field-repeater-row span.collapse-icon:hover {
      cursor: pointer; }
  .rbm-field-repeater-row.ui-sortable-helper {
    opacity: 0.5; }
  .rbm-field-repeater-row .rbm-field-repeater-handle {
    height: 20px;
    cursor: move;
    margin-bottom: 10px;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px; }

.rbm-field-wysiwyg-label {
  font-weight: bold; }

.rbm-field-table-label {
  font-weight: bold; }

.rbm-field-table table {
  width: 100%;
  border-collapse: collapse; }

.rbm-field-table th, .rbm-field-table td {
  padding: 5px; }

.rbm-field-table thead input[type="text"] {
  background: #fff78a; }

.rbm-field-table input[type="text"] {
  width: 100%; }

.rbm-field-table .rbm-field-table-delete {
  text-align: center; }

.rbm-field-table .rbm-field-table-sort {
  border: 1px solid;
  padding: 3px;
  color: #aaa;
  cursor: move; }
  .rbm-field-table .rbm-field-table-sort:hover {
    color: #777; }

.rbm-field-table tbody tr.ui-sortable-placeholder {
  visibility: visible !important; }
  .rbm-field-table tbody tr.ui-sortable-placeholder td {
    border-top: 3px dashed #ddd;
    border-bottom: 3px dashed #ddd; }
    .rbm-field-table tbody tr.ui-sortable-placeholder td:first-of-type {
      border-left: 3px dashed #ddd; }
    .rbm-field-table tbody tr.ui-sortable-placeholder td:last-of-type {
      border-left: 3px dashed #ddd;
      border-top-width: 0;
      border-bottom-width: 0; }

.rbm-field-number .rbm-field-number-container {
  width: 100px; }
  .rbm-field-number .rbm-field-number-container[data-postfix] {
    position: relative; }
    .rbm-field-number .rbm-field-number-container[data-postfix]:after {
      content: attr(data-postfix);
      position: absolute;
      right: calc(20px + 0.5em);
      top: 50%;
      color: #aaa;
      transform: translateY(-50%); }

.rbm-field-number input[type="text"].rbm-field-input {
  height: 40px;
  line-height: 40px;
  width: 80px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center; }

.rbm-field-number .rbm-field-number-increase, .rbm-field-number .rbm-field-number-decrease {
  display: block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  padding: 0;
  font-size: 14px;
  color: #fff;
  background: #aaa;
  border: 1px solid #9d9d9d;
  box-shadow: 0 1px 0 #9d9d9d;
  outline: none;
  cursor: pointer; }
  .rbm-field-number .rbm-field-number-increase:hover, .rbm-field-number .rbm-field-number-decrease:hover {
    color: #fff;
    background: #b7b7b7;
    border-color: #aaa;
    box-shadow: 0 1px 0 #aaa; }
  .rbm-field-number .rbm-field-number-increase:active, .rbm-field-number .rbm-field-number-decrease:active {
    transform: translateY(1px); }
  .rbm-field-number .rbm-field-number-increase .dashicons, .rbm-field-number .rbm-field-number-decrease .dashicons {
    font-size: inherit;
    line-height: inherit;
    width: auto;
    height: auto; }

.rbm-field-number .rbm-field-number-increase {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-width: 0; }

.rbm-field-number .rbm-field-number-decrease {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

/* Date Picker Default Styles */
.ui-datepicker {
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-top: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  min-width: 17em;
  width: auto; }

.ui-datepicker * {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.ui-datepicker table {
  font-size: 13px;
  margin: 0;
  border: none;
  border-collapse: collapse; }

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
  background-image: none;
  border: none;
  color: #fff;
  font-weight: normal; }

.ui-datepicker .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-title {
  margin: 0;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-align: center; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: relative;
  top: 0;
  height: 34px;
  width: 34px; }

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
  border: none; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
  left: 0; }

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
  right: 0; }

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  display: none; }

.ui-datepicker .ui-datepicker-prev {
  float: left; }

.ui-datepicker .ui-datepicker-next {
  float: right; }

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
  font: normal 20px/34px 'dashicons';
  padding-left: 7px;
  color: #fff;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 34px;
  height: 34px; }

.ui-datepicker .ui-datepicker-prev:before {
  content: '\f341'; }

.ui-datepicker .ui-datepicker-next:before {
  content: '\f345'; }

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
  opacity: 0.7; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 33%; }

.ui-datepicker thead {
  color: #fff;
  font-weight: 600; }

.ui-datepicker th {
  padding: 10px; }

.ui-datepicker td {
  padding: 0;
  border: 1px solid #f4f4f4; }

.ui-datepicker td.ui-datepicker-other-month {
  border: transparent; }

.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  width: auto;
  display: block;
  padding: 5px 10px;
  font-weight: normal;
  color: #444; }

.ui-datepicker td.ui-state-disabled .ui-state-default {
  opacity: 0.5; }

.ui-datepicker .ui-widget-header, .ui-datepicker .ui-datepicker-header {
  background: #52accc; }

.ui-datepicker thead {
  background: #096484; }

.ui-datepicker td.ui-datepicker-week-end {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4; }

.ui-datepicker td.ui-datepicker-today {
  background-color: #4796b3; }

.ui-datepicker td.ui-datepicker-current-day {
  background: #4796b3;
  color: #fff; }

.ui-datepicker td a.ui-state-default {
  color: inherit; }

.ui-datepicker td a.ui-state-hover {
  background: #096484;
  color: #fff; }

.rbm-field-radio {
  margin-top: 0.2em;
  margin-bottom: 0.2em; }

.rbm-media-uploader .media-url {
  display: block;
  width: 100%;
  word-break: break-all;
  box-sizing: border-box; }

.rbm-media-uploader .image-preview {
  max-width: 100%; }

#rbm-field-user-keys .rbm-user-keys-input-error {
  background: #dd5e44;
  color: #fff;
  padding: 0.5em; }

/*# sourceMappingURL=rbm-field-helpers-admin.css.map */