// Media breakpoints
$small: 500px;
$medium: 750px;
$large: 1000px;

// Functions
@mixin clearfix() {
  &:before {
    content: ' ';
    display: table;
    clear: both;
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}