@import "global";

@mixin rbm-col() {
	
    box-sizing: border-box;
    padding: 0.5em;
    float: left;
	
}

// Useful to just grab the generic Floating styling
// This is not necessary to apply to any specific Column class
.rbm-col {
	@include rbm-col();
}

// Legacy implementation
@for $i from 1 through 5 {

  .rbm-col-#{$i} {
    
	@include rbm-col();
	width: #{100 / $i}#{"%"};

	@media #{$small-only} {
      width: 100%;
    }
  }
	
}

@each $name in $media-query-classes {
	
	$media-query: map-get( $media-query-classes-map, "#{$name}-up" );
	
	@media #{$media-query} {
		
		@for $i from 1 through 12 {
	
			.rbm-col-#{$name}-#{$i} {

				@include rbm-col();
				width: #{100 * ($i/12)}#{"%"};

			}
		
		}
		
	}

}