.fieldhelpers-field-table {

  .fieldhelpers-field-table-loading {
    text-align: center;

    .spinner {
      float: none;
      display: inline-block;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
  }

  thead {
    input[type="text"] {
      background: #fff78a;
    }
  }

  input[type="text"] {
    width: 100%;
  }

  .fieldhelpers-field-table-delete {
    text-align: center;
  }

  .fieldhelpers-field-table-sort {
    border: 1px solid;
    padding: 3px;
    color: #aaa;
    cursor: move;

    &:hover {
      color: #777;
    }
  }

  tbody tr {
    &.ui-sortable-placeholder {
      visibility: visible !important;

      td {
        border-top: 3px dashed #ddd;
        border-bottom: 3px dashed #ddd;

        &:first-of-type {
          border-left: 3px dashed #ddd;
        }

        &:last-of-type {
          border-left: 3px dashed #ddd;
          border-top-width: 0;
          border-bottom-width: 0;
        }
      }
    }
  }
}